/* 
$main: #005E7C;
$secondary: #003546;
$accent: #51626D;
$colorDarkBackground: #f5f5f5;
$workMain: #DEE9EF;
$hobbies: #0094C6; 
aside: #EEEFEF
*/

body {
	font-size: 100%;
}

ul {
	margin-bottom: 0px;
	padding: 0;
	padding-top: 5%;
}

li {
	list-style: none;
}

h4, h3 {
	color: #005E7C;
}

i.circular.icon {
	color: #f5f5f5;
}
.dark {
	background-color: #003546;
}
.light {
	background-color: #0094C6;
}

/* CONTAINER */

.container {
	width: 100vw;
	overflow: hidden;
}
@media all and (min-width: 700px) {
	.container {
		max-width: 760px;
    margin: 0 auto;
    -webkit-box-shadow: 2px 0px 20px 10px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 0px 20px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 2px 0px 20px 10px rgba(0, 0, 0, 0.45);
	}
}

/* MENU */

.ui.menu.secondary.pointing {
	background-color: #003546;
	margin: 0;
	display: flex;
	justify-content: center;
	list-style: none;
}

.ui.menu.secondary.pointing .active.item, .ui.menu.secondary.pointing .item {
  color: #f5f5f5;
	text-transform: uppercase; 
}

.ui.menu.secondary.pointing .active.item {
	border-color: #f5f5f5; 
}

.ui.secondary.pointing.menu .active.item:hover {
	color: #0094C6; 
}

.ui.secondary.pointing.menu a.item:hover {
	color: #0094C6; 
}

@media all and (min-width: 700px) {
	.ui.menu.secondary.pointing {
		justify-content: flex-start;
		padding-left: 8%;
	}
}

/* HEADER */

header {
	background: #005E7C;
  color: #f5f5f5;
  display: flex;
  padding: 10px;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
}

header img {
	max-width: 100px;
	border-radius: 50%;
	max-height: 100px;
}

@media all and (min-width: 700px) {
	header {
		justify-content: space-between;
		padding-left: 10%;
		padding-right: 10%;
	}
}

/* INTRO */
#intro {
	background: #51626D;
	color: #f5f5f5;
	margin-top: 6px;
	padding: 7%;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
}

@media all and (min-width: 700px) {
	#intro {
		padding: 4%;
	}
}

/* MAIN */

.main, .mainInfo {
	margin-top: 10px;
	overflow: hidden;
}

/* MAIN ASIDE */

aside h4, aside p {
	text-align: center;
}

.main aside {
	padding-bottom: 50px;
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
}

.additionalInfo, .mainInfo {
	padding: 5% 10%;
}

.bg-grey {
	background: #EEEFEF;
}

.hrContact p {
	border-bottom: 1px solid #51626D;
	padding-bottom: 20px;
}

.paLabel {
	font-weight: bolder;
}

#personalTbl tr {
	border-bottom: 1px solid rgb(153, 165, 173); 
}

#personalTbl td {
	padding: 3% 0%;
}

#personalTbl td:nth-last-child(odd) {
	padding-left: 20px;
}

#softwareTbl td:nth-child(n) {
	padding: 3% 0%;
}
#softwareTbl td:nth-child(2n+2) {
	height: 15px;
	width: 150px;
	background: #003546;
	border: 20px solid #fff;
}

.html5 td:nth-child(2n+2) {
	box-shadow: inset -10px 0px 0px 0px rgba(81,98,109,1);
} 
.css3 td:nth-child(2n+2) {
	box-shadow: inset -28px 0px 0px 0px rgba(81,98,109,1);
} 
.javascript td:nth-child(2n+2) {
	box-shadow: inset -40px 0px 0px 0px rgba(81,98,109,1);
} 
.mongodb td:nth-child(2n+2) {
	box-shadow: inset -58px 0px 0px 0px rgba(81,98,109,1);
} 
.angular td:nth-child(2n+2) {
	box-shadow: inset -70px 0px 0px 0px rgba(81,98,109,1);
} 

@media all and (min-width: 700px) {
	.main {
		display: flex;
	}
	aside h4, aside p {
		text-align: left;
	}
	.additionalInfo {
		padding: 5% 2%;
		min-width: 30%;
	}
	.mainInfo {
		padding: 5%;
	}
}


/* SOCIAL MEDIA */

.socialMedia {
	background: #005E7C;
	display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 3%;
}

.socialItem {
  display: flex;
  align-items: center;
}

.socialLink {
	display: none;
}

@media all and (min-width: 700px) {
	.socialItem {
		flex-direction: column;
		color: #f5f5f5; 
	}
	.socialLink {
		display: initial;
	}
}

/* FOOTER */

footer {
  background: #003546;
	color: #f5f5f5;
	padding: 5%;
	text-align: center;
	font-size: 75%;
}

footer p {
	margin-bottom: 0;
}

footer span {
	display: none;
}

@media all and (min-width: 700px) {
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		font-size: 10px;
		padding: 1.5% 3%;
	}
	.address {
		display: inline-block;
	}
	footer p {
		display: inline-block;
	}
	footer span {
		display: initial;
	}
}