/* 
$main: #005E7C;
$secondary: #003546;
$accent: #51626D;
$colorDarkBackground: #f5f5f5;
$workMain: #DEE9EF;
$hobbies: #0094C6; 
aside: #EEEFEF
*/

body {
	font-size: 100%;
}

ul {
	margin: 0px;
	padding: 0;
}

li {
	list-style: none;
}

h4, h3 {
	color: #005E7C;
}

i.circular.icon {
	color: #f5f5f5;
}
.dark {
	background-color: #003546;
}
.light {
	background-color: #0094C6;
}

/* CONTAINER */

.container {
	width: 100vw;
	overflow: hidden;
}
@media all and (min-width: 700px) {
	.container {
		max-width: 760px;
    margin: 0 auto;
    -webkit-box-shadow: 2px 0px 20px 10px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 2px 0px 20px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 2px 0px 20px 10px rgba(0, 0, 0, 0.45);
	}
}

/* MENU */

.ui.menu.secondary.pointing {
	background-color: #003546;
	margin: 0;
	display: flex;
	justify-content: center;
	list-style: none;
}

.ui.menu.secondary.pointing .active.item, .ui.menu.secondary.pointing .item {
  color: #f5f5f5;
	text-transform: uppercase; 
}

.ui.menu.secondary.pointing .active.item {
	border-color: #f5f5f5; 
}

.ui.secondary.pointing.menu .active.item:hover {
	color: #0094C6; 
}

.ui.secondary.pointing.menu a.item:hover {
	color: #0094C6; 
}

@media all and (min-width: 700px) {
	.ui.menu.secondary.pointing {
		justify-content: flex-start;
		padding-left: 8%;
	}
}

/* HEADER */

header {
	background: #005E7C;
  color: #f5f5f5;
  display: flex;
  padding: 10px;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
}

header img {
	max-width: 100px;
	border-radius: 50%;
	max-height: 100px;
}

@media all and (min-width: 700px) {
	header {
		justify-content: space-between;
		padding-left: 10%;
		padding-right: 10%;
	}
}

/* INTRO */
#intro {
	background: #51626D;
	color: #f5f5f5;
	margin-top: 6px;
	padding: 7%;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
}

@media all and (min-width: 700px) {
	#intro {
		padding: 4%;
	}
}

/* MAIN */

.main {
	margin-top: 10px;
	overflow: hidden;
}

/* MAIN ASIDE */

aside h4, aside p {
	text-align: center;
}

.main aside {
	padding-bottom: 50px;
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.75);
}

.additionalInfo {
	padding: 5% 10%;
}
.mainInfo {
	padding: 10% 10%;
}

.bg-grey {
	background: #EEEFEF;
}

.hrContact p {
	border-bottom: 1px solid #51626D;
	padding-bottom: 20px;
}

/* PERSONAL INFO TABLE */
.paLabel {
	font-weight: bolder;
}

#personalTbl tr {
	border-bottom: 1px solid #99a5ad; 
}

#personalTbl td {
	padding: 3% 0%;
}

#personalTbl td:nth-last-child(odd) {
	padding-left: 20px;
}

/* SOFTWARE INFO TABLE */

#softwareTbl td:nth-child(n) {
	padding: 3% 0%;
}
#softwareTbl td:nth-child(2n+2) {
	height: 15px;
	width: 150px;
	background: #003546;
	border: 20px solid #fff;
}

.html5 td:nth-child(2n+2) {
	box-shadow: inset -10px 0px 0px 0px rgba(81,98,109,1);
} 
.css3 td:nth-child(2n+2) {
	box-shadow: inset -28px 0px 0px 0px rgba(81,98,109,1);
} 
.javascript td:nth-child(2n+2) {
	box-shadow: inset -40px 0px 0px 0px rgba(81,98,109,1);
} 
.mongodb td:nth-child(2n+2) {
	box-shadow: inset -58px 0px 0px 0px rgba(81,98,109,1);
} 
.angular td:nth-child(2n+2) {
	box-shadow: inset -70px 0px 0px 0px rgba(81,98,109,1);
} 

/* HOBBIES */

.hobbyIcons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.hobbyIcons li {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 2.5%;
	width: 33%;
}

.hobbyIcons span {
	font-weight: bold; 
}

@media all and (min-width: 700px) {
	.main {
		display: flex;
	}
	aside h4, aside p {
		text-align: left;
	}
	.additionalInfo {
		padding: 5% 2%;
		min-width: 30%;
	}
	.mainInfo {
		padding: 5%;
	}
}

/* MAININFO SECTION */
#resumeArea {
	background: #DEE9EF;
}

.workItem, .eduItem {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #003546;
	padding: 0 10%;
	margin-left: 5%;
	position: relative;
}

.work, .education {
	padding-top: 10px;
}

.workItem span, .eduItem span {
	font-weight: bold;
}

.workItem p, .eduItem p {
	padding: 2% 0 5% 0;
	border-bottom: 1px #99a5ad solid;
}

.workItem::before, .eduItem::before {
  position: absolute;
  top: -1%;
  left: -1.5%;
  width: 2.5%;
  height: 0;
  overflow: hidden;
  padding-bottom: 2.5%;
  display: block;
  content: "";
  background-color: #003546;
  border-radius: 50%;
	box-shadow: 0 0 20px 12px #005E7C, 0 0 0 12px #003546; 
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.skillset {
	height: 84px;
	width: 84px;
	position: relative;
	margin: 5px;
}

.skillProgress {
	height: 84px;
	width: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.halfCircle {
	height: 84px;
	width: 84px;
	border: 10px solid #003546;
	border-radius: 50%;
	clip: rect(0, 42px, 84px, 0);
	top: 0;
	left: 0;
	position: absolute;
}

.label {
	font-size: 16px;
	line-height: 10px;
	border-radius: 50%;
	display: block;
	top: 30px;
	left: 6px;
	position: absolute;
	text-align: center;
	background: none;
}

.shadow {
	height: 84px;
	width: 84px;
	border: 10px solid #99a5ad;
	border-radius: 50%;
}

.progress-100 .rightSide {
	transform: rotate(-180deg);
	}
.progress-90 .rightSide {
transform: rotate(-152deg);
}
.progress-78 .rightSide {
	transform: rotate(-120deg);
}
.progress-69 .rightSide {
	transform: rotate(-52deg);
}
.progress-57 .rightSide {
	transform: rotate(-25deg);
	}



@media all and (min-width: 700px) {
	.workItem, .eduItem {
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.workright{
		flex-basis: 25%;
	}
	.skills {
		flex-wrap: nowrap;
	}
}


/* SOCIAL MEDIA */

.socialMedia {
	background: #005E7C;
	display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding: 3%;
}

.socialItem {
  display: flex;
  align-items: center;
}

.socialLink {
	display: none;
}

@media all and (min-width: 700px) {
	.socialItem {
		flex-direction: column;
		color: #f5f5f5; 
	}
	.socialLink {
		display: initial;
	}
}

/* FOOTER */

footer {
  background: #003546;
	color: #f5f5f5;
	padding: 5%;
	text-align: center;
	font-size: 75%;
}

footer p {
	margin-bottom: 0;
}

footer span {
	display: none;
}

@media all and (min-width: 700px) {
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		font-size: 10px;
		padding: 1.5% 3%;
	}
	.address {
		display: inline-block;
	}
	footer p {
		display: inline-block;
	}
	footer span {
		display: initial;
	}
}